
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.0.2/darkly/bootstrap.min.css" integrity="sha512-KREAPYEoSKKkg2oqvahwsfZkMDfFe1i5G4cL/1y0xdAauwjoO5nNe6jdY2pEiNdh0Dqs39Pnilq7Zbl3e0FjGw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>News App</title>
</head>

<div class="navbar fixed-top navbar-dark bg-dark">
  <div class="container">
    <h4 style="color: rgb(4, 0, 255);">News App <h4  ><a href="https://www.djangoproject.com/" style="color: rgb(11, 174, 238);">DJANGO FRAMEWORK</a></h4>
    </h4>
  </div>
</div>
<br>
<br>
<!-- Card for header -->
<div class="jumbotron" style="text-align: center; margin-top:40px">
  <h2 style="color: yellowgreen;">Latest News using<a href="https://newsapi.org" style="text-decoration: none" ;> news API</a></h2>

</div>

<!-- Main -->
<div class="container">
  {% for hl, des, img in mylist %}

  <div class="card border-primary mb-3">
    <img src="{{ img }}" alt="image">
  </div>
  <div class="card border-primary mb-3">
    <h4><span class="badge badge-primary">Headline:</span></h4>
    <h5>{{ hl }}{{ value|linebreaks }}</h5>
    <h4> <span class="badge badge-success">Description:</span></h4>
    <h5>{{ des }}{{ value|linebreaks }}</h5>
  </div>
  {% endfor %}

  </body>

</html>